Pristine Packages/
Packages/*
Settings/
Backup/

!Packages/User
Packages/User/*.crt
Packages/User/Default*
Packages/User/FileHistory*
Packages/User/Package Control*
!Packages/User/*.sublime-settings

!Packages/Inno Setup
Packages/Inno Setup/*
!Packages/Inno Setup/Inno Setup.tmLanguage
!Packages/Inno Setup/Inno Setup.sublime-completions

!Packages/C++
Packages/C++/*
!Packages/C++/C++.sublime-build
Local/
Installed Packages/
